# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=500
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
        args:
          - --assume-in-merge
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: fix-encoding-pragma
        args:
          - --remove
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.2
    hooks:
      - id: pyupgrade
        args:
          - --py39-plus

  - repo: https://github.com/hadialqattan/pycln
    rev: v2.1.3
    hooks:
      - id: pycln
        args:
          - --config=pyproject.toml
          - --verbose

  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args:
          - --settings-path=pyproject.toml

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        args:
          - --config=pyproject.toml

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args:
          - -c
          - pyproject.toml
        additional_dependencies:
          - bandit[toml]

  - repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-2020>=1.8.0
          - flake8-annotations>=3.0.1
          - flake8-bugbear>=23.3.23
          - flake8-builtins>=2.1.0
          - flake8-comprehensions>=3.12.0
          - flake8-docstrings>=1.7.0
          - flake8-encodings[classes]>=0.5.0
          - flake8-mutable>=1.2.0
          - flake8-no-pep420>=2.4.0
          - flake8-noqa>=1.3.0
          - flake8-pie>=0.16.0
          - flake8-print>=5.0.0
          - flake8-pytest-style>=1.7.2
          - flake8-qgis>=1.0.0
          - flake8-simplify>=0.20.0
          - flake8-tidy-imports>=4.8.0
          - flake8-use-fstring>=1.4
          - flake8-useless-assert>=0.4.4
          - pep8-naming>=0.13.3

  - repo: https://github.com/PyCQA/pylint
    rev: v2.17.4
    hooks:
      - id: pylint
        args:
          - --rcfile=pyproject.toml

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.2.0
    hooks:
      - id: mypy
        args:
          - --config-file=pyproject.toml
        additional_dependencies:
          - PyQt5-stubs~=5.15.6.0
          - pytest>=7.3.1
          - qgis-stubs~=0.2.0
          - types-requests<2.30

  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.16
    hooks:
      - id: mdformat
        additional_dependencies:
          - mdformat-black~=0.1
          - mdformat-footnote~=0.1
          - mdformat-gfm~=0.3
          - mdformat-toc~=0.3
